*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  min-width: 1280px;
  padding: 0;
  margin: 0;
  height: 100%;
}
.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  padding: 0 70px;
}

.header-logo {
  margin-bottom: -6px;
  display: block;
  position: relative;
  z-index: 2;
  margin-right: 28px;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navigation-list:nth-child(2) {
  flex-grow: 1;
}
.navigation-item {
  list-style: none;
}
.navigation-item-user {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 18px 16px;
  position: relative;
}
.navigation-link-current {
  /* border-bottom: 2px solid #756257; */
}
.navigation-link-user {
  text-decoration: none;
  color: inherit;
}
.navigation-link-quantity {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 22px 12px;
}
/*  */
/* .navigation-item-user:not(:last-child) a {
  width: 44px;
  height: 64px;
  border: 1px solid #000;
}
.navigation-link-search {
  background-image: url(../images/header-icon/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
} */

/*  */
.header-quantity {
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: #7db54f;
  position: relative;
  bottom: 10px;
  right: 10px;
}
.navigation-link-search {
  display: flex;
  padding: 22px 12px;
}
.navigation-btn {
  display: block;
  width: 160px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 10px;
  text-transform: uppercase;
}
/* СТИКИ-футера */
.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url(../images/background-images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  /* BACK COLOR ДЛЯ ВИДИМОСТИ КОНТЕНТНОГО ИЗОБРАЖЕНИЯ В СЛУЧАЕ НЕПОДГРУЗКИ ДЕКОРАТИВНОГО(БЕЛОГО ЦВЕТА)  */
  background-color: #000000;
  padding: 50px 0px 83px;
}
.welcome-img {
  display: block;
  margin: 0 auto;
}
.advantages {
  padding-top: 70px;
}

.advantages-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin: 0 0 25px;
  text-transform: uppercase;
}
.advantages-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 90px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.advantages-item {
  text-align: center;
  background-color: #82b3d3;
  list-style: none;
}
.advantages-article {
  display: flex;
  justify-content: space-between;
}
.advantages-article-custom {
  width: 400px;
  padding: 103px 85px;
  flex-direction: column;
  min-height: 385px;
}
.advantages-wrapper {
  align-self: center;
  padding: 103px 85px;
  min-height: 385px;
}

.advantages-item-custom {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-custom:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}
.service {
  padding-top: 64px;
}
.service-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin: 0 0 20px;
  /* width: 505px; */
  /* text-align: center;
   */
  text-transform: uppercase;
}
.service-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 64px;
}
.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}
/* .service-item {
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  padding: 130px 85px 90px 85px;
} */
.service-list li {
  list-style: none;
}
.service-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.service-item-text {
  margin: 0;
}
.service-articale {
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  padding: 130px 85px 90px 85px;
  max-width: 400px;
}
.service-house-article {
  background-image: url(../images/service-img/house.svg);
  background-repeat: no-repeat;
  background-position: center 30px;
}
.service-food-article {
  background-color: #fff;
  background-image: url(../images/service-img/food.svg);
  background-repeat: no-repeat;
  background-position: center 30px;
}
.service-souvenir-article {
  background-image: url(../images/service-img/souvenir.svg);
  background-repeat: no-repeat;
  background-position: center 30px;
}
.search {
  padding: 96px 304px;
}
.search-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.search-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 55px;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 175px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 2px 0;
}
.advantages-item-description {
  margin: 0;
}
.advantages-title-white,
.advantages-description-white {
  color: #fff;
}
.search-btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.newsletter {
  color: #fff;
  background-image: url(../images/background-images/newsletter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  /* BACK COLOR ДЛЯ ВИДИМОСТИ КОНТЕНТНОГО ИЗОБРАЖЕНИЯ В СЛУЧАЕ НЕПОДГРУЗКИ ДЕКОРАТИВНОГО(БЕЛОГО ЦВЕТА)  */
  background-color: #000000;
  padding: 96px 0px 104px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.newsletter-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  max-width: 475px;
  margin: 0 auto;
  margin: 0 0 54px;
}
.newsletter-form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto;
}
.newsletter-input {
  font-family: inherit;
  width: 452px;
  margin-right: -1px;
  padding: 15px 20px;
}
.newsletter-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  background-color: #82b3d3;
  border: none;
  padding: 7px 50px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
.page-footer {
  padding: 40px 70px 30px 70px;
}
.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.footer-social-link {
  list-style: none;
  /* width: 47px;
  height: 40px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center; */
}
.footer-social-link a {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
  height: 40px;
}
.social-yotube,
.social-telegram,
.social-vkontakte {
  fill: rgba(131, 179, 211, 1);
}
.social-yotube:hover,
.social-telegram:hover,
.social-vkontakte:hover {
  fill: rgba(104, 162, 202, 1);
}
/* .social-yotube:focus,
.social-telegram:focus,
.social-vkontakte:focus {
  fill: rgba(104, 162, 202, 1);
} */
.social-yotube:active,
.social-telegram:active,
.social-vkontakte:active {
  fill: rgba(104, 162, 202, 0.3);
}
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}
.footer-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-phone:focus {
  color: rgba(117, 97, 87, 1);
}
.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  display: block;
  align-self: center;
}
.logo-academy {
  fill: rgba(0, 0, 0, 1);
}
.logo-academy:hover {
  fill: rgba(117, 97, 87, 1);
}
.logo-academy:focus {
  fill: rgba(117, 97, 87, 1);
}
.logo-academy:active {
  fill: rgba(117, 97, 87, 0.3);
}
.main-header-wrapper {
  color: #fff;
  background-image: url(../images/background-images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  /* BACK COLOR ДЛЯ ВИДИМОСТИ КОНТЕНТНОГО ИЗОБРАЖЕНИЯ В СЛУЧАЕ НЕПОДГРУЗКИ ДЕКОРАТИВНОГО(БЕЛОГО ЦВЕТА)  */
  background-color: #000000;
  padding: 35px 70px 70px;
}
.header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px;
}
.breadcrubs-list {
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
}
.breadcrubs-link {
  font-size: 16px;
}
.breadcrubs-item {
  list-style: none;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.catalog-filter-item {
  list-style: none;
}
.control {
  line-height: 23px;
  cursor: pointer;
}
.button-apply {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-reset {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: inherit;
  background: transparent;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.section-filter {
  padding: 50px 70px 60px;
}
.section-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.select-info {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}
.select-control {
  font-family: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px 20px;
  max-width: 292px;
  max-height: 50px;
  font-size: 18px;
  line-height: 21px;
  text-align: start;
  color: #333333;
  cursor: pointer;
  /* appearance: none; */
}
.view-button-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px;
}
.view-button {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}
.button-active {
  border: 2px solid #000000;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}
.product-card {
  list-style: none;
}
.product-card-article {
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  width: 340px;
  padding: 20px;
  /* ГРИДЫ САМОЙ КАРТОЧКИ */
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* 1 вариант по фракциям
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */

  /* 2 вариант( высота элементов+ нижние отступы)
  grid-template-rows: 228px 46px 37px 36px 37px; */
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-rows: max-content 1fr;
  /* max-height: 438px; */
  height: 100%;
  row-gap: 16px;
  column-gap: 20px;
  /*  */
}
.product-card-link {
  display: block;
  /* margin-bottom: 16px; */
  text-decoration: none;
  color: #333333;
  grid-column: 1 / 3;
}
.product-card-img {
  display: block;
}
.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}
.product-card-button {
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  /*  */
  padding: 8px 10px;
  text-align: center;
  border-radius: 4px;
  border: none;
  min-width: 140px;
  min-height: 36px;
  align-self: flex-start;
}
.product-card-text {
  margin: 0;
}
.product-card-price {
  font-weight: 400;
  text-align: end;
}
.product-favorites {
  font-family: inherit;
  background-color: #82b3d3;
  margin-right: 0;
}
.active-button {
  background-color: #7db54f;
}
.rating {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
  padding: 9px 22px;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}
.pagination-item {
  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 0 10px;
  min-width: 60px;
  height: 60px;
}
.pagination-item:nth-child(5) .pagination-link {
  color: #000000;
  background-color: #ffffff;
}
.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
.newsletter-changed {
  background-image: none;
  background-color: #fff;
  color: inherit;
}
/* Добавить контейнер внутри боди */
/*  */
